.btn{
    border-radius: 40px;
    font-size: 20px;
    color: white;
    background-color:#40196d;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 40px;
}

.btn:hover{
    padding: 6px 18px;
    transition: all 0.3s ease-out;
}
.btncolor{
    
    color: #40196d;
    font-size: 200%;
    font-weight: bolder;
}
.btndiv{
    margin-left: 170px;
    margin-top: 15%;
}