body{
  background-color: whitesmoke;
}

.kuda-heading{
  margin-top: 200px;
  margin-left: 50px;
  color: #40196d;
  font-size: 200%;
}

.Layout{
  margin-left: 800px;
  margin-right: 100px;
  margin-bottom: 50px;
}
h5{
  display: block;
  border-radius: 5px;
  background-color: rgb(87, 185, 224);
}
.Sign-Layout{
  background-color: white;
  border-radius: 5px;
  display: block;
  align-items: center;
  padding: 50px 50px;

}
.sbtn{
  border-radius: 40px;
    font-size: 20px;
    color: white;
    background-color:#40196d;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 40px;
}
h2{
  color: #40196d;
}
input{
  background: white;
  height: 30px;
  text-decoration:none ;
  
}

.h1,h2{
  margin-left: 200px;
  margin-bottom: 10%;
}
            
            
            
